{% if page.toc and page.extra.side_toc | default(value=config.extra.side_toc) %}
<nav
  class="prose prose-neutral dark:prose-invert prose-a:block prose-a:truncate prose-a:font-normal prose-a:secondary-link max-h-lvh overflow-y-auto px-2 pt-18 pb-4"
>
  <b class="ml-1.5">Table of Contents</b>
  <ul>
    {% for h1 in page.toc %}
    <li>
      <a href="#{{ h1.id | safe }}">{{ h1.title }}</a>
      {% if h1.children %}
      <ul>
        {% for h2 in h1.children %}
        <li>
          <a href="#{{ h2.id | safe }}">{{ h2.title }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>
{% endif %}
