{% if type == "note" %} {% set admonition_class = "markdown-alert-note" %}<!---->
{% elif type == "tip" %} {% set admonition_class = "markdown-alert-tip" %}<!---->
{% elif type == "important" %} {% set admonition_class = "markdown-alert-important" %}<!---->
{% elif type == "warning" %} {% set admonition_class = "markdown-alert-warning" %}<!---->
{% elif type == "caution" %} {% set admonition_class = "markdown-alert-caution" %}<!---->
{% else %} {{ throw(message="Unknown admonition type: " ~ type) }}<!---->
{% endif %}

<blockquote
  class="{{ admonition_class }}"
  style="--admonition-title: '{{ title | default(value=type | title) }}'"
>
  {{ body | markdown | safe }}
</blockquote>
