@import "tailwindcss" source("../templates");
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

/* Pure CSS Icons, see: https://unocss.dev/presets/icons */
:root {
  --i-octicon-info-16: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 16 16' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-6.5a6.5 6.5 0 1 0 0 13a6.5 6.5 0 0 0 0-13M6.5 7.75A.75.75 0 0 1 7.25 7h1a.75.75 0 0 1 .75.75v2.75h.25a.75.75 0 0 1 0 1.5h-2a.75.75 0 0 1 0-1.5h.25v-2h-.25a.75.75 0 0 1-.75-.75M8 6a1 1 0 1 1 0-2a1 1 0 0 1 0 2'/%3E%3C/svg%3E");
  --i-octicon-light-bulb-16: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 16 16' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M8 1.5c-2.363 0-4 1.69-4 3.75c0 .984.424 1.625.984 2.304l.214.253c.223.264.47.556.673.848c.284.411.537.896.621 1.49a.75.75 0 0 1-1.484.211c-.04-.282-.163-.547-.37-.847a9 9 0 0 0-.542-.68l-.268-.32C3.201 7.75 2.5 6.766 2.5 5.25C2.5 2.31 4.863 0 8 0s5.5 2.31 5.5 5.25c0 1.516-.701 2.5-1.328 3.259q-.142.172-.268.319c-.207.245-.383.453-.541.681c-.208.3-.33.565-.37.847a.751.751 0 0 1-1.485-.212c.084-.593.337-1.078.621-1.489c.203-.292.45-.584.673-.848l.213-.253c.561-.679.985-1.32.985-2.304c0-2.06-1.637-3.75-4-3.75M5.75 12h4.5a.75.75 0 0 1 0 1.5h-4.5a.75.75 0 0 1 0-1.5M6 15.25a.75.75 0 0 1 .75-.75h2.5a.75.75 0 0 1 0 1.5h-2.5a.75.75 0 0 1-.75-.75'/%3E%3C/svg%3E");
  --i-octicon-report-16: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 16 16' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M0 1.75C0 .784.784 0 1.75 0h12.5C15.216 0 16 .784 16 1.75v9.5A1.75 1.75 0 0 1 14.25 13H8.06l-2.573 2.573A1.458 1.458 0 0 1 3 14.543V13H1.75A1.75 1.75 0 0 1 0 11.25Zm1.75-.25a.25.25 0 0 0-.25.25v9.5c0 .138.112.25.25.25h2a.75.75 0 0 1 .75.75v2.19l2.72-2.72a.75.75 0 0 1 .53-.22h6.5a.25.25 0 0 0 .25-.25v-9.5a.25.25 0 0 0-.25-.25Zm7 2.25v2.5a.75.75 0 0 1-1.5 0v-2.5a.75.75 0 0 1 1.5 0M9 9a1 1 0 1 1-2 0a1 1 0 0 1 2 0'/%3E%3C/svg%3E");
  --i-octicon-alert-16: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 16 16' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M6.457 1.047c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0 1 14.082 15H1.918a1.75 1.75 0 0 1-1.543-2.575Zm1.763.707a.25.25 0 0 0-.44 0L1.698 13.132a.25.25 0 0 0 .22.368h12.164a.25.25 0 0 0 .22-.368Zm.53 3.996v2.5a.75.75 0 0 1-1.5 0v-2.5a.75.75 0 0 1 1.5 0M9 11a1 1 0 1 1-2 0a1 1 0 0 1 2 0'/%3E%3C/svg%3E");
  --i-octicon-stop-16: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 16 16' width='1em' height='1em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M4.47.22A.75.75 0 0 1 5 0h6c.199 0 .389.079.53.22l4.25 4.25c.141.14.22.331.22.53v6a.75.75 0 0 1-.22.53l-4.25 4.25A.75.75 0 0 1 11 16H5a.75.75 0 0 1-.53-.22L.22 11.53A.75.75 0 0 1 0 11V5c0-.199.079-.389.22-.53Zm.84 1.28L1.5 5.31v5.38l3.81 3.81h5.38l3.81-3.81V5.31L10.69 1.5ZM8 4a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5A.75.75 0 0 1 8 4m0 8a1 1 0 1 1 0-2a1 1 0 0 1 0 2'/%3E%3C/svg%3E");
}

html,
body {
  @apply h-full;
}

html {
  --bg: transparent;
  --bg-dark: transparent;
  --header: transparent;
  --header-dark: transparent;
}

body {
  -webkit-tap-highlight-color: transparent;
  @apply bg-(--bg) dark:bg-(--bg-dark);
}

.not-ready * {
  @apply transition-none!;
}

article {
  @apply text-lg;

  /* Auto direction for text */
  *,
  ::before,
  ::after {
    unicode-bidi: plaintext;
  }

  /* Footnote */
  .footnote-definition {
    @apply flex;

    p {
      @apply m-0;
    }

    .footnote-definition-label {
      @apply static mr-2 text-base;

      &::after {
        @apply content-['.'];
      }
    }
  }

  /* Code block */
  pre {
    @apply text-base;

    .giallo-l {
      @apply inline-block min-h-lh w-full;
    }

    .giallo-ln {
      @apply mr-4 inline-block text-right opacity-80 select-none;
    }

    .z-hl {
      @apply bg-gray-500/15;
    }
  }

  /* Figure */
  figure {
    @apply max-w-full;

    svg {
      @apply h-auto max-w-full scheme-light! dark:scheme-dark!;
    }
  }

  /* Anchor */
  .zola-anchor {
    @apply no-underline;
  }
  [id] {
    @apply scroll-mt-16;
  }

  /* GitHub Alerts */
  .markdown-alert-note {
    --admonition-bg: rgba(31, 111, 235, 0.1);
    --admonition-title: "Note";
    --admonition-icon: var(--i-octicon-info-16);
  }

  .markdown-alert-tip {
    --admonition-bg: rgba(35, 134, 54, 0.1);
    --admonition-title: "Tip";
    --admonition-icon: var(--i-octicon-light-bulb-16);
  }

  .markdown-alert-important {
    --admonition-bg: rgba(137, 87, 229, 0.1);
    --admonition-title: "Important";
    --admonition-icon: var(--i-octicon-report-16);
  }

  .markdown-alert-warning {
    --admonition-bg: rgba(158, 106, 3, 0.1);
    --admonition-title: "Warning";
    --admonition-icon: var(--i-octicon-alert-16);
  }

  .markdown-alert-caution {
    --admonition-bg: rgba(218, 54, 51, 0.1);
    --admonition-title: "Caution";
    --admonition-icon: var(--i-octicon-stop-16);
  }

  [class^="markdown-alert-"] {
    @apply relative my-4 flex flex-col rounded-lg border-0 border-none bg-(--admonition-bg) p-0 font-normal text-(--tw-prose-body) not-italic;

    &::before {
      @apply items-center rounded-t-lg bg-(--admonition-bg) p-1 pl-9 font-medium text-(--tw-prose-bold) content-(--admonition-title);
    }

    &::after {
      @apply absolute top-2.5 left-3 h-4 w-4 bg-(--tw-prose-bold) mask-(--admonition-icon) mask-contain mask-center mask-no-repeat content-[''];
    }

    p {
      @apply pl-4 before:content-none after:content-none;
    }
  }
}

.header {
  @apply bg-(--header) dark:bg-(--header-dark);
}

.btn-menu {
  &::before,
  &::after {
    @apply block h-0.5 w-5 bg-black duration-200 content-[''];
  }

  @apply dark:before:invert dark:after:invert;

  &:where(.open *) {
    &::before {
      @apply w-6 translate-y-[5.5px] rotate-45;
    }

    &::after {
      @apply w-6 translate-y-[-5.5px] -rotate-45;
    }
  }
}

.nav-wrapper {
  @apply hidden lg:flex;

  &:where(.open *) {
    @apply flex;
  }
}

@utility blur-header {
  @apply bg-black/10 backdrop-blur dark:bg-white/10;
}

@utility block-bg {
  @apply bg-black/3 dark:bg-white/8;
}

@utility block-hover {
  @apply hover:bg-black/5 dark:hover:bg-white/11;
}

@utility block-hover-mask {
  @apply hover:bg-black/2 dark:hover:bg-white/3;
}

@utility primary-link {
  @apply text-black no-underline hover:opacity-80 dark:text-white;
}

@utility secondary-link {
  @apply text-(--tw-prose-body) no-underline hover:text-black dark:hover:text-white;
}
