@import "tailwindcss" source("../templates");
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  @apply h-full;
}

html {
  --bg: transparent;
  --bg-dark: transparent;
  --header: transparent;
  --header-dark: transparent;
}

body {
  -webkit-tap-highlight-color: transparent;
  @apply bg-(--bg) dark:bg-(--bg-dark);
}

.not-ready * {
  @apply transition-none!;
}

article {
  @apply text-lg;

  /* Auto direction for text */
  *,
  ::before,
  ::after {
    unicode-bidi: plaintext;
  }

  /* Footnote */
  .footnote-definition {
    @apply flex;

    p {
      @apply m-0;
    }

    .footnote-definition-label {
      @apply static mr-2 text-base;

      &::after {
        @apply content-['.'];
      }
    }
  }

  /* Code block */
  pre {
    @apply text-base;

    .giallo-l {
      @apply inline-block min-h-lh w-full;
    }

    .giallo-ln {
      @apply mr-4 inline-block text-right opacity-80 select-none;
    }
  }

  /* Figure */
  figure {
    @apply max-w-full;

    svg {
      @apply h-auto max-w-full scheme-light! dark:scheme-dark!;
    }
  }
}

.header {
  @apply bg-(--header) dark:bg-(--header-dark);
}

.btn-menu {
  &::before,
  &::after {
    @apply block h-0.5 w-5 bg-black duration-200 content-[''];
  }

  @apply dark:before:invert dark:after:invert;

  &:where(.open *) {
    &::before {
      @apply w-6 translate-y-[5.5px] rotate-45;
    }

    &::after {
      @apply w-6 translate-y-[-5.5px] -rotate-45;
    }
  }
}

.nav-wrapper {
  @apply hidden lg:flex;

  &:where(.open *) {
    @apply flex;
  }
}

@utility blur-header {
  @apply bg-black/10 backdrop-blur dark:bg-white/10;
}

@utility block-bg {
  @apply bg-black/3 dark:bg-white/8;
}

@utility block-hover {
  @apply hover:bg-black/5 dark:hover:bg-white/11;
}

@utility block-hover-mask {
  @apply hover:bg-black/2 dark:hover:bg-white/3;
}

@utility primary-link {
  @apply text-black no-underline hover:opacity-80 dark:text-white;
}

@utility secondary-link {
  @apply text-(--tw-prose-body) no-underline hover:text-black dark:hover:text-white;
}
