{% extends "index.html" %}<!---->
{% block main %}
<article>
  <header class="mb-16">
    <h1 class="!my-0 pb-2.5">{{ page.title }}</h1>
    {% include "partials/page_info.html" %}
  </header>

  {% if page.extra.cover_image %}<!---->
  <figure class="mb-12 mt-0">
    <img
      class="h-auto w-full rounded-lg"
      src="{{ get_url(path=page.extra.cover_image) }}"
      alt="cover"
    />
  </figure>
  {% endif %}

  <!-- TOC -->
  {% include "partials/toc.html" %}<!---->

  <!-- Content -->
  <section>{{ page.content | safe }}</section>

  <hr />

  <!-- Post Taxonomies -->
  {% include "partials/post_taxonomies.html" %}<!---->

  <!-- Post Nav -->
  {% include "partials/post_navigation.html" %}<!---->

  <!-- Comment -->
  {% if page.extra.comment | default(value=config.extra.comment) %}<!---->
  {% include "partials/comment.html" %}<!---->
  {% endif %}
</article>
{% endblock main %}
